name: Build-Rust

on:
  push:
    branches: [ "main", "backend" ]
    paths: 
      - "backend/**"
  pull_request:
    branches: [ "main", "backend" ]
    paths: 
      - "backend/**"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  DATABASE_URL: "postgres://postgres:password@postgres/mensa_app"
  FLICKR_API_KEY: ${{ secrets.FLICKR_PUBLIC_KEY }}
  SMTP_SERVER: ${{ vars.SMTP_SERVER }}
  SMTP_PORT: ${{ vars.SMTP_PORT }}
  SMTP_USERNAME: ${{ vars.SMTP_USERNAME }}
  SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
  ADMIN_EMAIL: ${{ vars.ADMIN_EMAIL }}


jobs:
  build_rust:
    runs-on: ubuntu-latest
    container: rust:latest
    defaults:
      run:
        working-directory: ./backend
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Check formatting
      run: |
        rustup component add rustfmt
        cargo fmt --check
    - name: Setup database
      run: |
        cargo install sqlx-cli --no-default-features --features native-tls,postgres
        cargo sqlx database setup
    - name: Check linter warnings
      run: | 
          rustup component add clippy
          cargo clippy -- -D warnings
    - name: Check prepared sql query information
      run: cargo sqlx prepare --check
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose

  test:
    name:                       coverage
    runs-on:                    ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    container:
      image:                    xd009642/tarpaulin:develop-nightly
      options:                  --security-opt seccomp=unconfined
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name:                   Checkout repository
        uses:                   actions/checkout@v2
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Setup database
        run: |
          cargo install sqlx-cli --no-default-features --features native-tls,postgres
          cargo sqlx database setup
      - name:                   Generate code coverage
        run: |
          cargo +nightly tarpaulin --verbose --all-features --workspace --timeout 120 --out Xml
      - name:                   Upload to codecov.io
        uses:                   codecov/codecov-action@v2
        with:
          fail_ci_if_error:     true

